
/* Mobile Devices */
@media only screen and (max-width:688px) {
    
    .container {
        width: 100%;
    }
    .players , .blogs , .courses{
        grid-template-columns: 1fr;
        
        
}
.player , .blog , .course {
    flex-direction: column;
}

}
/* Tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px) {

    .container {
        width: 100%;
    }
    
    .players , .courses{
        grid-template-columns: 1fr 1fr;

    }
    .blogs {
        grid-template-columns: 1fr;
    }
}